<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">

    <hr/>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <span sec:authorize="isAuthenticated()">
                |Usuario logado: <span sec:authentication="name"></span> |
                <a th:href="@{/logout}">Sair</a>
            </span>

                <div>
                    <p class="text-center">&copy; 2018 Gabriel Braga</p>
                </div>

            </div>
        </div>
    </div>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="../../js/bootstrap.min.js"
            th:src="@{/js/bootstrap.min.js}"></script>

</div>
</body>
</html>