<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div th:fragment="pagination">


    <div class="pagination" th:with="baseUrl=${URLparameter}">
        <span th:if="${pager.indexOutOfBounds()}">
            Não existem mais paginas. Volte para: <a class="pageLink"
                                                 th:href="@{${baseUrl}(page=1)}">Home</a>.
        </span>

        <span th:unless="${pager.indexOutOfBounds()}">

            <span th:if="${pager.hasPrevious()}">
                <a class="pageLink"
                   th:href="@{${baseUrl}(page=1)}">&laquo; Primeira</a>
                <a class="pageLink"
                   th:href="@{${baseUrl}(page=${pager.getPageIndex() - 1})}">Preview</a>
            </span>

            <span th:if="${pager.getTotalPages() != 1}"
                  th:text="'Pagina ' + ${pager.getPageIndex()} + ' de ' + ${pager.getTotalPages()} + '.'">
            </span>

            <span th:if="${pager.hasNext()}">
                <a class="pageLink"
                   th:href="@{${baseUrl}(page=${pager.getPageIndex() + 1})}">Proxima</a>
                <a class="pageLink"
                   th:href="@{${baseUrl}(page=${pager.getTotalPages()})}">Ultima &raquo;</a>
            </span>
        </span>
    </div>

</div>
</body>
</html>