<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <div th:replace="/fragments/header :: header-css"/>
</head>
<body>

<div th:replace="/fragments/header :: header"/>

<div class="container">


    <div class="jumbotron">

        <h1 th:text="${post.title}">Titulo</h1>
        <div th:text="'Created: ' + ${#dates.format(post.createDate, 'dd-MMM-yyyy')} + ' by '">Criado por</div>
        <div><a th:text="${post.user.username}" th:href="@{'/blog/' + ${post.user.username}}">Usuario</a></div>
        <pre th:utext="${post.body}">Texto</pre>

        <div sec:authorize="isAuthenticated()" th:if="${username}">
            <div class="row">
                <a th:href="@{'/editPost/{id}'(id=${post.id})}" class="col-md-2">
                    <button type="button" class="btn btn-primary btn-block" th:text="Editar">Editar</button>
                </a>

            </div>
        </div>
    </div>

    <h2>Comentarios:</h2>


    <div class="well" th:each="comment : ${post.comments}">
        <pre th:utext="${comment.body}">Texto</pre>
        <div th:text="'Criado: ' + ${#dates.format(comment.createDate, 'dd-MMM-yyyy')} + ' por '">
            Criado por:
        </div>
        <div><a th:text="${comment.user.username}" th:href="@{'/blog/' + ${comment.user.username}}">Usuario</a>
        </div>
    </div>


    <div sec:authorize="isAuthenticated()">
        <div class="row">
            <a th:href="@{'/commentPost/{id}'(id=${post.id})}" class="col-md-2">
                <button type="button" class="btn btn-primary btn-block" th:text="Comentar">Comentario</button>
            </a>
        </div>
    </div>
</div>


<div th:replace="/fragments/footer :: footer"/>

</body>
</html>